doctype html 
html 
    head 
    body 
        h1#pageTitle Page Tile Goes here! 
        p.big-para 
            Here is some text for the paragraph.
            my big paragraph!
        .display-box 
        #myOnlyDiv